html, body {
	height:100%;
	overflow:hidden;
}

body {
	background-color:#222;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat:repeat;
}

body:before {
  content:"";
  position:fixed;
  top:-10px;
  left:0;
  width:100%;
  height:10px;

  -webkit-box-shadow:0 0 10px rgba(0,0,0,.8);
  -moz-box-shadow:0 0 10px rgba(0,0,0,.8);
  box-shadow:0 0 10px rgba(0,0,0,.8);

  z-index:100;
}

#meny {
  display:none;
	padding:20px;
  overflow:auto;
	padding-right:0;
	padding-left:0;
	z-index:100;

	background-color:#333;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
}

/**
 * Graphic that highlights menu availability while inactive.
 */
#meny-arrow {
	position:absolute;
	top:45%;
	left:10px;
	z-index:10;
	font-family:sans-serif;

	font-size:20px;
	color:#333;
	text-shadow:0 0 1px #fff;

	-webkit-transition:left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	   -moz-transition:left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	    -ms-transition:left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	     -o-transition:left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	        transition:left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

	.meny-active #meny-arrow {
		left:-40px;
		opacity:0;
	}

/*******************/
/**
 * IcoMoon's font assets.
 */
/*******************/

@font-face {
	font-family:'icomoon-thibaudcolas';
	src:url('fonts/icomoon-thibaudcolas.eot');
	src:url('fonts/icomoon-thibaudcolas.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon-thibaudcolas.svg#icomoon-thibaudcolas') format('svg'),
		url('fonts/icomoon-thibaudcolas.woff') format('woff'),
		url('fonts/icomoon-thibaudcolas.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family:'icomoon-thibaudcolas';
	content:attr(data-icon);
	speak:none;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family:'icomoon-thibaudcolas';
	font-style:normal;
	speak:none;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}
.icon-css3:before {
	content:"\65";
}
.icon-html5:before {
	content:"\74";
}
.icon-file-pdf:before {
	content:"\75";
}
.icon-linkedin:before {
	content:"\69";
}
.icon-github:before {
	content:"\71";
}
.icon-twitter:before {
	content:"\73";
}
.icon-mail:before {
	content:"\63";
}
.icon-comments:before {
	content:"\62";
}
.icon-user:before {
	content:"\6e";
}
.icon-file-xml:before {
	content:"\68";
}
.icon-IcoMoon:before {
	content:"\6d";
}
.icon-laptop:before {
	content:"\77";
}


/*******************/
/**
 * Custom back to top button.
 */
/*******************/


.circle {
	float:right;
	width:100px;
  height:100px;
	margin:35px 0 10px 10px;

	background-color:#222;
	background-image:-moz-radial-gradient(45px 45px 45deg, circle cover, #222 0%, #444 100%);
  background-image:-webkit-radial-gradient(45px 45px, circle cover, #222, #444);
  background-image:radial-gradient(45px 45px 45deg, circle cover, #222 0%, #444 100%);

  -webkit-box-shadow:0 0 10px #000;
  	 -moz-box-shadow:0 0 10px #000;
  				box-shadow:0 0 10px #000;

  border:1px solid #eee;
	border-radius:50%;
}

.circle a {
	position:relative;
	top:39px;
	left:-2px;

	padding:30px;

	font-size:300%;
	color:#eee;
	text-shadow:0 0 2px #000;
}

@-webkit-keyframes halfspin {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(100deg); }
}

@-moz-keyframes halfspin {
  from { -moz-transform:rotate(0deg); }
  to { -moz-transform:rotate(100deg); }
}

@-ms-keyframes halfspin {
  from { -ms-transform:rotate(0deg); }
  to { -ms-transform:rotate(100deg); }
}

@-o-keyframes halfspin {
  from { -o-transform:rotate(0deg); }
  to { -o-transform:rotate(100deg); }
}

@keyframes halfspin {
  from { transform:rotate(0deg); }
  to { transform:rotate(100deg); }
}

.circle:hover {
	background-color:#444;
	background-image:-moz-radial-gradient(45px 45px 45deg, circle cover, #222 0%, #666 100%);
  background-image:-webkit-radial-gradient(45px 45px, circle cover, #222, #666);
  background-image:-o-radial-gradient(45px 45px, circle cover, #222, #666);
  background-image:-ms-radial-gradient(45px 45px, circle cover, #222, #666);
  background-image:radial-gradient(45px 45px 45deg, circle cover, #222 0%, #666 100%);

  -webkit-animation-name:halfspin;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:ease-in-out;

  -moz-animation-name:halfspin;
  -moz-animation-duration:1s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:alternate;
  -moz-animation-timing-function:ease-in-out;

  -ms-animation-name:halfspin;
  -ms-animation-duration:1s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:alternate;
  -ms-animation-timing-function:ease-in-out;

  -o-animation-name:halfspin;
  -o-animation-duration:1s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:alternate;
  -o-animation-timing-function:ease-in-out;

  animation-name:halfspin;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}

.circle:hover a {
		color:#fff;
		text-shadow:0 0 3px #eee, 0 0 5px #333;
}

.circle:active {
	border:1px solid #333;
	-webkit-box-shadow:inset 0 0 10px #000;
		 -moz-box-shadow:inset 0 0 10px #000;
  				box-shadow:inset 0 0 10px #000;
}

.circle:active a {
	color:#eee;
	text-shadow:0 0 0 #000;
}

/** GitHub Ribbon in pure CSS **/


.ribbon {
	height:150px;
	width:150px;
	overflow:hidden;
	z-index:1;
	float:right;
	position:relative;
	top:50px;
	right:-30px;
}

.ribbon a {
	display:block;
	width:190px;
	font-size:14px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#eee;
	word-spacing:2px;
	text-decoration:none;
	padding:5px 15px 6px 25px;

	position:relative;
	left:20px;
	top:-37px;
	text-align:center;
	line-height:1.2em;

	-webkit-transform-origin:0 0 ;
	-webkit-transform:rotate(45deg);
		 -moz-transform-origin:0 0 ;
		 -moz-transform:rotate(45deg);
			-ms-transform-origin:0 0 ;
			-ms-transform:rotate(45deg);
					transform-origin:0 0 ;
					transform:rotate(45deg);

	-webkit-box-shadow:1px 1px 5px 1px #666, inset 0 0 1px rgba(255, 255, 255, 0.30), inset 0 0 2px rgba(255, 255, 255, 0.20), inset 0 0 3px rgba(255, 255, 255, 0.10), inset 0 0 5px rgba(255, 255, 255, 0.30);
		 -moz-box-shadow:1px 1px 5px 1px #666, inset 0 0 1px rgba(255, 255, 255, 0.30), inset 0 0 2px rgba(255, 255, 255, 0.20), inset 0 0 3px rgba(255, 255, 255, 0.10), inset 0 0 5px rgba(255, 255, 255, 0.30);
			-ms-box-shadow:1px 1px 5px 1px #666, inset 0 0 1px rgba(255, 255, 255, 0.30), inset 0 0 2px rgba(255, 255, 255, 0.20), inset 0 0 3px rgba(255, 255, 255, 0.10), inset 0 0 5px rgba(255, 255, 255, 0.30);
					box-shadow:1px 1px 5px 1px #666, inset 0 0 1px rgba(255, 255, 255, 0.30), inset 0 0 2px rgba(255, 255, 255, 0.20), inset 0 0 3px rgba(255, 255, 255, 0.10), inset 0 0 5px rgba(255, 255, 255, 0.30);

	/* Set the base colour */
  background-color:#a00;

  /* Set a gradient:transparent black at the top to almost-transparent black at the bottom */
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.30) 1px, transparent 3px), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.30) 1px, transparent 3px), -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.30) 1px, transparent 3px), -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.30) 1px, transparent 3px), -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image:linear-gradient(top, rgba(255, 255, 255, 0.30) 1px, transparent 3px), linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

  border:1px dotted rgba(255,255,255,0.2);
}


/*******************/
/** Custom clouds **/
/*******************/


.sky {
	background-color:skyblue;
	background-image:-webkit-gradient(linear, left top, left bottom, from(skyblue), to(#fff));
  background-image:-webkit-linear-gradient(top, skyblue, #fff);
  background-image:-moz-linear-gradient(top, skyblue, #fff);
  background-image:-o-linear-gradient(top, skyblue, #fff);
  background-image:linear-gradient(to bottom, skyblue, #fff);
}

.cloud {
	position:relative;
	background:#fff;
	-webkit-border-radius:100px;
		 -moz-border-radius:100px;
					border-radius:100px;


}

@media (max-width:700px) {
.cloud {
	-webkit-animation:none !important;
		 -moz-animation:none !important;
			 -o-animation:none !important;
			 		animation:none !important;
}
}

.cloud:before, .cloud:after {
	content:'';
	position:absolute;
	background:#fff;
	-webkit-border-radius:50px;
		 -moz-border-radius:50px;
					border-radius:50px;
}


.x1 {
	width:120px;
	height:50px;
	left:250px;
	opacity:0.7;

	-webkit-animation:moveclouds 15s linear 2;
		 -moz-animation:moveclouds 15s linear 2;
			 -o-animation:moveclouds 15s linear 2;
			 		animation:moveclouds 15s linear 2;
}

.x1:before {
	width:60px;
	height:50px;
	top:-15px;
	left:10px;
}

.x1:after {
	width:70px;
	height:70px;
	top:-35px;
	left:auto;
	right:20px;
}

.x2 {
	width:160px;
	height:70px;
	opacity:0.6;
	top:150px;

	-webkit-animation:moveclouds 25s linear 2;
		 -moz-animation:moveclouds 25s linear 2;
			 -o-animation:moveclouds 25s linear 2;
			 		animation:moveclouds 25s linear 2;
}

.x2:before {
	width:60px;
	height:60px;
	left:20px;
	top:-20px;
}

.x2:after {
	width:80px;
	height:80px;
	top:-35px;
	left:auto;
	right:20px;
}

.x3 {
	width:100px;
	height:40px;
	left:150px;
	opacity:0.5;

	-webkit-animation:moveclouds 20s linear 2;
		 -moz-animation:moveclouds 20s linear 2;
			 -o-animation:moveclouds 20s linear 2;
			 		animation:moveclouds 20s linear 2;
}

.x3:before {
	width:50px;
	height:40px;
}

.x3:after {
	width:60px;
	height:60px;
	top:-25px;
	left:auto;
	right:20px;
}

.x1:first-of-type {
	top:200px;
}

@-webkit-keyframes moveclouds {
		0% {margin-left:100%;}
	100% {margin-left:-100%;}
}

@-moz-keyframes moveclouds {
		0% {margin-left:100%;}
	100% {margin-left:-100%;}
}

@-o-keyframes moveclouds {
		0% {margin-left:100%;}
	100% {margin-left:-100%;}
}

@keyframes moveclouds {
		0% {margin-left:100%;}
	100% {margin-left:-100%;}
}
