/*******************/
/*** Foooooooter ***/
/*******************/

@import "globals";

footer {

  min-height : 200px;
  background-color : #333;
  color : #eee;

  @include linear-gradient(#444, #333);

  .container-fluid {
    margin-bottom : 0;
    padding : 20px 20px 0;
  }

  a:hover {
    text-decoration : none;
    color : #ccc;
  }

  // footer > span
  > span {
    width : 20%;
    height : 5px;
    background : none repeat scroll 0 0 white;
  }

  // Creates styles for each of the five spans inside the footer.
  $footer-colors : tomato crimson teal dodgerblue navy;
  @for $i from 1 through 5 {
    .f#{$i} {
      background-color : nth($footer-colors, $i);
    }
  }

}

/** HTML5 & CSS3 logos **/

@mixin html-css-logos($font-size, $top, $color) {
  position : relative;
  font-size : $font-size;
  top : $top;
  color : $color;
}

.logos-wrapper {
  margin-bottom : 10px;
}

.html5-css3 {
  padding : 10px 10px 10px 0;

  span {

    &:first-child {
    @include html-css-logos(400%, 20px, #f06529);
    }

    &:last-child {
      @include html-css-logos(200%, 8px, #666);
    }

  }
}

/** Credits **/

.h5bp {
  color : #eee;
  font-weight : 700;
  text-shadow : 2px 2px 0 #000000;
  text-transform : uppercase;
}

.star {
    color : #E08524;
}

.mdrnzr {
  font-family : sans-serif;
  font-weight : 700;
  color : rgb(217, 30, 118);
  text-shadow : 0 1px 0 rgb(0, 0, 0);
}

.btstrp {
  color : #fff;
  line-height : 1;
  text-shadow : 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mny {
  font-family : Helvetica, sans-serif;
  color : rgb(194,87,91);
}

.jqy {
  color : #f2f2f2;
  display : inline-block;

  :first-letter {
    color : #4082ae;
  }
}

.fittxt {
  color : #f4f1dE;
  font-weight :  bold;
  text-shadow : 0 0 1px #f4f1dE;
}

.icomn {
  color : #b35047;
  opacity : 0.8;
}

.osans {
  color : #eee;
  font-family : 'Open Sans', sans-serif;
}

.googlewf {
  color : #3d79d0;
  text-shadow : 0 0 1px #111;
}

.google {

  color : #215cfb;

  .red {
    color : #f02e35;
  }

  .green {
    color : #01a616;
  }

  .yellow {
    color : #ffbd20;
  }
}

.smplform {
  text-transform : lowercase;
  color : #aaa;
  text-shadow : 0 0 1px #111;
}
