/* ==========================================================================
   Structures reused throughout our styles.
   ========================================================================== */

// @import "globals" to use this.

@mixin vendor-prefix($name, $argument) {
  #{$name} : $argument;
  @each $prefix in webkit, moz, ms, o {
    -#{$prefix}-#{$name} : $argument;
  }
}

@mixin gradient-prefix($gradient) {
  background-image : linear-gradient($gradient);
  @each $prefix in webkit, moz, ms, o {
    background-image : -#{$prefix}-linear-gradient($gradient);
  }
}

@mixin left-offset($offset) {
  left : $offset;
}

@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  @include vendor-prefix(border-top-left-radius, $top-left);
  @include vendor-prefix(border-top-right-radius, $top-right);
  @include vendor-prefix(border-bottom-right-radius, $bottom-right);
  @include vendor-prefix(border-bottom-left-radius, $bottom-left);
}

@mixin border-radius-all($radius) {
  @include border-radius($radius, $radius, $radius, $radius);
}

@mixin animation($animation) {
  @include vendor-prefix(animation, $animation);
}

// Variable arguments
@mixin box-shadow($shadow...) {
  @include vendor-prefix(box-shadow, $shadow);
}

@mixin transition($transition) {
  @include vendor-prefix(transition, $transition);
}

@mixin linear-gradient($gradient...) {
  @include gradient-prefix($gradient);
}

@mixin background-size($size...) {
  @include vendor-prefix(background-size, $size);
}

@mixin background-position($position...) {
  @include vendor-prefix(background-position, $position);
}

@mixin transform($transform...) {
  @include vendor-prefix(transform, $transform);
}

@mixin transform-origin($origin...) {
  @include vendor-prefix(transform-origin, $origin);
}
