/*******************/
/** Back tooo top **/
/*******************/

@import "globals";

.circle {
  float : right;
  width : 100px;
  height : 100px;
  margin : 35px 0 10px 10px;

  background-color : #222;
  background-image : -webkit-radial-gradient(45px 45px, circle cover, #222, #444);
  background-image :    -moz-radial-gradient(45px 45px 45deg, circle cover, #222 0%, #444 100%);
  background-image :         radial-gradient(45px 45px 45deg, circle cover, #222 0%, #444 100%);

  @include box-shadow(0 0 10px #000);
  @include border-radius-all(50%);

  border : 1px solid #eee;

  a {
    position : relative;
    top : 39px;
    left : -2px;

    padding : 30px;

    font-size : 300%;
    color : #eee;
    text-shadow : 0 0 2px #000;
  }

  &:hover {
    background-color : #444;
    background-image : -webkit-radial-gradient(45px 45px, circle cover, #222, #666);
    background-image :    -moz-radial-gradient(45px 45px 45deg, circle cover, #222 0%, #666 100%);
    background-image :      -o-radial-gradient(45px 45px, circle cover, #222, #666);
    background-image :     -ms-radial-gradient(45px 45px, circle cover, #222, #666);
    background-image :         radial-gradient(45px 45px 45deg, circle cover, #222 0%, #666 100%);

    // name, duration, timing-function, delay, iterations, direction
    @include animation(halfspin 1s ease-in-out 0 infinite alternate);

    a {
      color : #fff;
      text-shadow : 0 0 3px #eee, 0 0 5px #333;
    }
  }

  &:active {
    border : 1px solid #333;
    @include box-shadow(inset 0 0 10px #000);

    a {
      color : #eee;
      text-shadow : 0 0 0 #000;
    }
  }
}

@mixin halfspin($prefix : '') {
  from { #{$prefix}transform : rotate(0deg); }
  to { #{$prefix}transform : rotate(100deg); }
}

@-webkit-keyframes halfspin {
  @include halfspin(-webkit-);
}

@-moz-keyframes halfspin {
  @include halfspin(-moz-);
}

@-ms-keyframes halfspin {
  @include halfspin(-ms-);
}

@-o-keyframes halfspin {
  @include halfspin(-o-);
}

@keyframes halfspin {
  @include halfspin();
}
