/*******************/
/** Custom clouds **/
/*******************/

@import "globals";

.sky {
  background-color : skyblue;
  @include linear-gradient(skyblue, white);
}

.cloud {
  position : relative;
  background : #fff;
  @include border-radius-all(100px);

  &:before, &:after {
    content : '';
    position : absolute;
    background : #fff;
    @include border-radius-all(50px);
  }

  // Deactivate the clouds for small devices.
  @media (max-width : 700px) {
    @include animation(none !important);
  }
}

// @mixin cloud-variance($width, $height, $left, $opacity, $length) {
//   width : $width;
//   height : $height;
//   left : $left;
//   opacity : $opacity;

//   @include animation(moveclouds $length linear 2);

//   &:before {}

//   &:after {}
// }

// @for $i from 1 through 3 {

// }

.x1 {
  width : 120px;
  height : 50px;
  left : 250px;
  opacity : 0.7;

  @include animation(moveclouds 15s linear 2);

  &:before {
    width:60px;
    height:50px;
    top:-15px;
    left:10px;
  }

  &:after {
    width:70px;
    height:70px;
    top:-35px;
    left:auto;
    right:20px;
  }
}

.x2 {
  width:160px;
  height:70px;
  opacity:0.6;
  top:150px;

  @include animation(moveclouds 25s linear 2);

  &:before {
    width:60px;
    height:60px;
    left:20px;
    top:-20px;
  }

  &:after {
    width:80px;
    height:80px;
    top:-35px;
    left:auto;
    right:20px;
  }
}

.x3 {
  width:100px;
  height:40px;
  left:150px;
  opacity:0.5;

  @include animation(moveclouds 20s linear 2);

  &:before {
    width:50px;
    height:40px;
  }

  &:after {
    width:60px;
    height:60px;
    top:-25px;
    left:auto;
    right:20px;
  }

}


.x1:first-of-type {
  top:200px;
}

@mixin moveclouds {
  0% {margin-left:100%;}
  100% {margin-left:-100%;}
}

@-webkit-keyframes moveclouds {
  @include moveclouds;
}

@-moz-keyframes moveclouds {
  @include moveclouds;
}

@-o-keyframes moveclouds {
  @include moveclouds;
}

@keyframes moveclouds {
  @include moveclouds;
}
