/*******************/
/*** Prooooojets ***/
/*******************/

@import "globals";

.projets {
  background-color : gainsboro;

  background-image : -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)), -webkit-linear-gradient(rgba(255, 255, 255, 0.4) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.4) 1px, transparent 1px), -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-image :    -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)),    -moz-linear-gradient(rgba(255, 255, 255, 0.4) 1px, transparent 1px),    -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.4) 1px, transparent 1px),    -moz-linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),    -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-image :      -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)),      -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 1px, transparent 1px), -o-linear-gradient(0deg, rgba(255, 255, 255, 0.4) 1px, transparent 1px), -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px), -o-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-image :     -ms-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)),     -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 1px, transparent 1px), -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.4) 1px, transparent 1px), -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px), -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-image :         linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)),         linear-gradient(rgba(255, 255, 255, 0.4) 1px, transparent 1px),         linear-gradient(90deg, rgba(255, 255, 255, 0.4) 1px, transparent 1px),         linear-gradient(rgba(255,255,255, 0.2) 1px, transparent 1px),         linear-gradient(90deg, rgba(255,255,255, 0.2) 1px, transparent 1px);
  @include background-size(cover, 75px 75px, 75px 75px, 15px 15px, 15px 15px);
  @include background-position(top, -2px -2px, -2px -2px, -1px -1px, -1px -1px);

  img {
    margin : 10px;
  }
}
