body {
  font: 12px sans-serif;
  shape-rendering: crispEdges;
}

* {
    margin: 0;
    padding: 0;
}

svg {
    background: azure;
}

.line {
    fill: none;
    stroke: blue;
}

.interact {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 40px;
    stroke-linecap: round;
}

.domain,
.tick line {
    fill: none;
    stroke: grey;
}
