/*==========  Footer  ==========*/

.global-footer {
  background-color: $colorGray6;
  color: $colorGray2;
}

.global-footer a {
  color: $colorGray3;
  text-decoration: underline;
}

.global-footer a:hover {
  color: $colorGray4;
}

.footer__border {
  margin-bottom: 20px;
}

.footer__border span {
  width: 20%;
  height: 5px;
  float: left;
}

.footer__border span:nth-child(1) {
  background-color: #ff6347;
}
.footer__border span:nth-child(2) {
  background-color: #dc143c;
}
.footer__border span:nth-child(3) {
  background-color: #008080;
}
.footer__border span:nth-child(4) {
  background-color: #1e90ff;
}
.footer__border span:nth-child(5) {
  background-color: #000080;
}

.footer-links {
  list-style-type: none;
  padding-left: 0;
}

.footer-links a {
  text-decoration: none;
}
