/*==========  Footer  ==========*/

.global-footer {
  background-color: $colorGray6;
  color: $colorGray2;
}

.global-footer a {
  color: $colorGray3;
  text-decoration: none;
}

.global-footer a:hover {
  color: $colorGray4;
}

.footer__border {
  margin-bottom: 20px;
}

.footer__border span {
  width: 20%;
  height: 5px;
  float: left;
}


.footer__border span:nth-child(1) {
  background-color: #E6E2AF;
}
.footer__border span:nth-child(2) {
  background-color: #A7A37E;
}
.footer__border span:nth-child(3) {
  background-color: #EFECCA;
}
.footer__border span:nth-child(4) {
  background-color: #1e90ff;
}
.footer__border span:nth-child(5) {
  background-color: #046380;
}

.footer-links {
  list-style-type: none;
  padding-left: 0;
}

.author-link, .license-link, .fork-link {
  display: block;
}

.author-link {
  margin-bottom: 15px;
}

.author-link:hover .html5-css3, .author-link:focus .html5-css3 {
  opacity: 0.8;
}

.author-link:active .html5-css3 {
  opacity: 1;
}

.license-logo {
  position: relative;
  top: -1px;
}

.license-link:hover img, .license-link:focus img {
  opacity: 0.8;
}

.license-link:active img {
  opacity: 1;
}

.fork-link .icon-github {
  font-size: 32px;
  position: relative;
  top: 8px;
}
