/*==========  Footer  ==========*/

.global-footer {
  background-color: #292f33;
  color: #eee;
}

.global-footer a {
  color: #ccc;
  text-decoration: underline;
}

.global-footer a:hover {
  color: #aaa;
}

.footer__border {
  margin-bottom: 20px;
}

.footer__border > span {
  width: 20%;
  height: 5px;
}

.footer__border .border-1 {
  background-color: #ff6347;
}
.footer__border .border-2 {
  background-color: #dc143c;
}
.footer__border .border-3 {
  background-color: #008080;
}
.footer__border .border-4 {
  background-color: #1e90ff;
}
.footer__border .border-5 {
  background-color: #000080;
}
