/*==========  Header  ==========*/

.global-header {
  background-color: #292f33;
}

@media only screen and (min-width:600px) and (max-width: 767px) {
  .col-custom-5 {
    width: 43%;
    float: left;
  }

  .col-custom-7 {
    width: 54%;
    float: right;
  }
}

.title-link {
  display: inline-block;
  width: 100%;
  color: #f5f8fa;
  text-shadow: 0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2);
}

.title-link:hover, .title-link:focus {
  color: #f5f8fa;
  text-decoration: none;
}

h1 {
  font-size: 250%;
  font-weight: 400;
  height: 40px;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-nav li {
  float: left;
}

.navbar-nav li a {
  padding: 6px;
  height: 70px;
  font-size: 12px;
  color: #e1e8ed;
  border: 3px solid #e1e8ed;
  transition: color .2s, background-color .2s, border-color .2s;

  &:hover, &:focus {
    background-color: #e1e8ed;
    transition: color .3s, background-color .3s, border-color .3s;
    outline: none;
  }

  &:active {
    transform: scale(0.9);
    transition: transform .1s;
  }
}

.navbar-nav a span {
  display: block;
}

.navbar-nav .icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
  position: relative;
  left: 50%;
  margin-left: -16px;
  float: left;
}

.navbar-nav .twitter-link {
  background-color: #55acee;
  border-color: #55acee;

  &:hover, &:focus {
    color: #55acee;
  }
}

.navbar-nav .github-link {
  background-color: #333;
  border-color: #333;

  &:hover, &:focus {
    color: #333;
  }
}

.navbar-nav .linkedin-link {
  background-color: #4875B4;
  border-color: #4875B4;

  padding: 6px 8px;

  &:hover, &:focus {
    color: #4875B4;
  }
}

.navbar-nav .blog-link {
  background-color: #263347;
  border-color: #263347;

  padding: 6px 17px;

  &:hover, &:focus {
    color: #263347;
  }
}

.navbar-nav .talks-link {
  background-color: #333;
  border-color: #333;

  padding: 6px 16px;

  &:hover, &:focus {
    color: #333;
  }
}
