/*==========  HTML5-CSS3 component  ==========*/

.html5-css3 {
    padding: 2px 2px 2px 0px;
    margin-right: 10px;
}

.html5-css3 span:first-child {
  position: relative;
  font-size: 32px;
  top: 10px;
  color: #F06529;
}

.html5-css3 span:last-child {
  position: relative;
  font-size: 16px;
  top: 3px;
  color: #666;
}
