@font-face {
  font-family : 'icomoon-thibaudcolas';
  src : url('fonts/icomoon-thibaudcolas.eot');
  src : url('fonts/icomoon-thibaudcolas.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon-thibaudcolas.svg#icomoon-thibaudcolas') format('svg'),
    url('fonts/icomoon-thibaudcolas.woff') format('woff'),
    url('fonts/icomoon-thibaudcolas.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family : 'icomoon-thibaudcolas';
  content : attr(data-icon);
  speak : none;
  font-weight : normal;
  -webkit-font-smoothing : antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family : 'icomoon-thibaudcolas';
  font-style : normal;
  speak : none;
  font-weight : normal;
  -webkit-font-smoothing : antialiased;
}
.icon-css3:before {
  content : "\65";
}
.icon-html5:before {
  content : "\74";
}
.icon-file-pdf:before {
  content : "\75";
}
.icon-linkedin:before {
  content : "\69";
}
.icon-github:before {
  content : "\71";
}
.icon-twitter:before {
  content : "\73";
}
.icon-mail:before {
  content : "\63";
}
.icon-comments:before {
  content : "\62";
}
.icon-user:before {
  content : "\6e";
}
.icon-file-xml:before {
  content : "\68";
}
.icon-IcoMoon:before {
  content : "\6d";
}
.icon-laptop:before {
  content : "\77";
}