@import "components/fira.css";
@import "components/icomoon-thibaudcolas-v2.css";

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
}

.card {
  box-shadow:0 1px 2px #CDCAA2;
  border-radius:3px;
  transform: scale(1.0);
  transform-origin: center center;
  transition: transform .1s, background-color .1s;
}

.card:hover {
  transform: scale(1.05);
  transform-origin: center center;
  transition: transform .2s, background-color .2s;
  background-color: #eee;
}

.global-header {
  background-color: #046380;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-nav li {
  float: left;
}

.navbar-nav a {
  min-height: 70px;
}

.navbar-nav a span {
  display: block;
}

.navbar-nav .icon {
  font-size: 32px;
  float: left;
  position: relative;
  top: -10px;
  color: #333;
}

.global-section {
  background-color: #e6e2af;
}

.global-section:last-of-type {
  padding-bottom: 15px;
}

.project {
  overflow: hidden;
  background-color: #efecca;
  margin: 15px 0;
}

.project__title, .project__description {
  padding: 10px 10px 0;
}

.project__title {
  margin: 0;
  padding-bottom: 0;
}

.project__depiction__wrapper:hover {
  opacity: 0.8;
}

.project__depiction__wrapper:active {
  opacity: 1;
}

.project__description {
  min-height: 80px;
}

.activity {
  background-color: #efecca;
  margin: 15px 0;
}

.activity__title {
  padding: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #CDCAA2;
}

.activity__description {
  padding: 10px 10px 0;
}

.activity__detail {
  padding-bottom: 10px;
}

.global-footer {
  background-color: #002f2f;
  color: #eee;
}

.global-footer a {
  color: #ccc;
  text-decoration: underline;
}

.global-footer a:hover {
  color: #aaa;
}
