body {
  font-family: 'Fira Sans', 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

.global-header {
  background-color: #234182;
}

.global-section {
  background-color: ivory;
}

.project {
  overflow: hidden;
  background-color: #eee;
}

.project__description {
  min-height: 60px;
}

.activity__item {
  background-color: #eee;
}

.global-footer {
  background-color: #333;
  color: #eee;
}

.global-footer a {
  color: #ccc;
  text-decoration: underline;
}

.global-footer a:hover {
  color: #aaa;
}

.activity__title {
  border-bottom: 1px solid #CDCAA2;
}
