body {
  font-family: 'Fira Sans', 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

.global-header {
  background-color: #046380;
}

.global-section {
  background-color: #e6e2af;
}

.project {
  overflow: hidden;
  background-color: #efecca;
}

.project__description {
  min-height: 60px;
}

.activity {
  background-color: #efecca;
}

.global-footer {
  background-color: #002f2f;
  color: #eee;
}

.global-footer a {
  color: #ccc;
  text-decoration: underline;
}

.global-footer a:hover {
  color: #aaa;
}

.activity__title {
  border-bottom: 1px solid #CDCAA2;
}
