@import "partials/_fira-font";
@import "partials/_icomoon-font";

@import "partials/_variables";
@import "partials/_mixins";

@import "partials/_global";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_card";
@import "partials/_html5-css3";

#activities {
  background-color: #77C4D3;
}

#activities .card {
  background-color: rgba(255, 255, 255, 0.8);

  &:hover {
    background-color: white;
  }
}
