@import "partials/_fira-font";
@import "partials/_icomoon-font";

@import "partials/_variables";
@import "partials/_mixins";

@import "partials/_global";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_card";
@import "partials/_print";
