@import "components/fira.css";
@import "components/icomoon.css";

@import "components/_variables";
@import "components/_mixins";

@import "components/_global";
@import "components/_header";
@import "components/_footer";
@import "components/_card";
@import "components/_html5-css3";
