<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture title %}{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}{% endcapture %}
  <title>{{ title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

  {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif content %}{{ content | raw_content | strip_html | condense_spaces | truncate:150 }}{% else %}{{ site.description | strip_html | condense_spaces | truncate:150 }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="fediverse:creator" content="@thibaudcolas@fosstodon.org">

  {%- capture canonical -%}
    {%- if page.canonical -%}
      {{ page.canonical }}
    {%- else -%}
      {{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}
    {%- endif -%}
  {%- endcapture -%}
  <link rel="canonical" href="{{ canonical }}">
  <link rel="icon" sizes="48x48" href="{{ site.baseurl }}/favicon.ico">
  <link rel="icon" sizes="any" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicon.svg">
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="twitter:site" content="@{{ site.twitter_user }}">
  <meta name="twitter:creator" content="@{{ site.twitter_user }}">
  <meta property="og:title" content="{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{{ description }}">
  {% if page.seo_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.seo_image }}">
    <meta name="twitter:image:alt" content="{{ page.seo_image_alt }}">
  {% endif %}
  <meta name="twitter:label1" value="Reading time">
  <meta name="twitter:data1" value="Not too long">

  <link rel="meta" title="FOAF" type="application/rdf+xml" href="/foaf.rdf">
</head>
