header {
  background-color: gray;
}

.global-section {
  background-color: ivory;
}

footer {
  background-color: teal;
}

.project-item {
  overflow: hidden;
  background-color: #eee;
}

.project-description {
  min-height: 60px;
}

.activity-item {
  background-color: #eee;
}
