/*==========  Card  ==========*/

.card {
  display: block;
  color: inherit;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: background-color .3s $animationEasing, box-shadow .3s $animationEasing;

  &:hover, &:focus, &:active {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  }
}

.card__title__wrapper {
}

.card__title {
  padding: 10px 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.card__description {
  padding: 10px 10px 0;
}

.card__detail {
  padding-bottom: 10px;
}

.card__depiction {
  display: block;
}

/*==========  Card variations  ==========*/

@media (min-width: 768px) and (max-width: 1800px) {
	.activity {

	  .card__description {
	    min-height: 100px;
	  }
	}

	.project {

	  .card__description {
	    min-height: 80px;
	  }
	}
}

.experience {

}

