/*==========  Card  ==========*/

.card {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 15px 0;
  transition: background-color .2s $animationEasing;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.card__title__wrapper {
}

.card__title {
  padding: 10px 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.card__description {
  padding: 10px 10px 0;
}

.card__detail {
  padding-bottom: 10px;
}

.card__depiction__wrapper {
  display: block;

  &:hover, &:focus {

  }

  &:active {

  }
}

.card__depiction {

}

/*==========  Card variations  ==========*/

@media (min-width: 768px) and (max-width: 1800px) {
	.activity {

	  .card__description {
	    min-height: 100px;
	  }
	}

	.project {

	  .card__description {
	    min-height: 80px;
	  }
	}
}

.experience {

}

