/*==========  Card  ==========*/

.card {
  display: block;
  overflow: hidden;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: inherit;
  transition: background-color 0.3s $animationEasing, box-shadow 0.3s $animationEasing;

  &:hover, &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: inherit;
    text-decoration: none;
  }

  &:active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  }
}



.card__title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 0;
}
.card__description {
  padding: 10px 10px 0;
}

.card__detail {
  padding-bottom: 10px;
}

.card__depiction {
  display: block;
}

/*==========  Card variations  ==========*/

@media (min-width: 768px) and (max-width: 1800px) {
  .activity {
    .card__description {
      min-height: 100px;
    }
  }

  .project {
    .card__description {
      min-height: 80px;
    }
  }
}
