/*==========  Footer  ==========*/

.global-footer {
  background-color: $colorGray6;
  color: $colorGray2;
}

.global-footer a {
  color: $colorGray3;
  text-decoration: none;
}

.global-footer a:hover {
  color: $colorGray4;
}

.last-links {
  list-style-type: none;
  padding-left: 0;
  user-select: none;
}

.last-links a {
  display: block;
  width: 200px;
  text-align: right;
  padding: 2px 0;
}

.top-link {
  &:before {
    content: '▲';
  }
}

.meta-links {
  list-style-type: none;
  padding-left: 0;
}

.meta-links a {
  display: block;

  &:hover span, &:focus span {
    opacity: 0.8;
  }

  &:active span {
    opacity: 1;
  }
}

.author-link {
  margin-bottom: 15px;
}

.fork-link .icon-github {
  color: #eee;
}

.resume-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.resume-link .icon-file-pdf {
  color: #a00000;
}

.copyright-icon {
  &:before {
    content: '©';
  }
}

.license-logo {
  position: relative;
  top: -1px;
}

.meta-links .big-icon {
  font-size: 32px;
  position: relative;
  top: 8px;
}
