/*==========  Footer  ==========*/

.global-footer {
  background-color: $colorGray6;
  color: $colorGray2;
}

.global-footer a {
  color: $colorGray3;
  text-decoration: none;
}

.global-footer a:hover {
  color: $colorGray4;
}

.footer__border {
  margin-bottom: 20px;
}

.footer__border span {
  width: 20%;
  height: 5px;
  float: left;
}


.footer__border span:nth-child(1) {
  background-color: #E6E2AF;
}
.footer__border span:nth-child(2) {
  background-color: #A7A37E;
}
.footer__border span:nth-child(3) {
  background-color: #EFECCA;
}
.footer__border span:nth-child(4) {
  background-color: #1e90ff;
}
.footer__border span:nth-child(5) {
  background-color: #046380;
}

.last-links {
  list-style-type: none;
  padding-left: 0;
  user-select: none;
}

.top-link {
  &:before {
    content: '▲';
  }
}

.meta-links {
  list-style-type: none;
  padding-left: 0;
}

.meta-links a {
  display: block;

  &:hover span, &:focus span {
    opacity: 0.8;
  }

  &:active span {
    opacity: 1;
  }
}

.author-link {
  margin-bottom: 15px;
}



.copyright-icon {
  &:before {
    content: '©';
  }
}

.license-logo {
  position: relative;
  top: -1px;
}

.fork-link .icon-github {
  font-size: 32px;
  position: relative;
  top: 8px;
}
