/*==========  Footer  ==========*/

.global-footer {
  background-color: $colorGray6;
  color: $colorGray2;
}

.global-footer a {
  color: $colorGray3;
  text-decoration: none;
}

.global-footer a:hover {
  color: $colorGray4;
}

.last-links {
  list-style-type: none;
  padding-left: 0;
  user-select: none;
}

.last-links a {
  display: block;
  width: 100%;
  text-align: right;
  padding: 2px 0;
}

.top-icon {
  &:before {
    content: '▲';
  }
}

.meta-links {
  list-style-type: none;
  padding-left: 0;
}

.meta-links li {
  margin-bottom: 10px;
}

.meta-links a {
  display: block;

  &:hover span, &:focus span {
    opacity: 0.8;
  }

  &:active span {
    opacity: 1;
  }
}

.icon-html5 {
  color: #F06529;
}

.copyright-icon {
  &:before {
    content: '©';
  }
}

.meta-links .big-icon {
  font-size: 32px;
  position: relative;
  top: 8px;
}
