/*==========  Global  ==========*/

html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
	background-color: $colorGray6;
}

body {
  min-width: 320px;
  max-width: 2400px;
  font-weight: 300;
  color: $colorText;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontHighlight;
  font-weight: 300;
}

a {
  color: $colorLink;
}

.global-section {
  background-color: $colorGray3;
}

.global-section:last-of-type {
  padding-bottom: 15px;
}

.global-section__title {
  &:hover .anchor-link, &:focus .anchor-link {
    display: inline;
  }
}

.global-section__title .anchor-link {
  display: none;
  position: relative;
  top: -3px;
  font-size: 50%;
  color: $colorGray5;
}

.global-section__border span {
  height: 5px;
  float: left;
  margin-bottom: 20px;
}

.global-footer .global-section__border span {
  width: 20%;
}

