/*==========  Global  ==========*/

html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
	background-color: $colorGray6;
}

body {
  min-width: 320px;
  max-width: 2400px;
  font-weight: 300;
  color: $colorText;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontHighlight;
  font-weight: 300;
}

a {
  color: $colorLink;
}

.global-section {
  padding-bottom: 15px;
}

.global-section__title {
  .anchor-link {
    display: none;
    text-decoration: none;
    position: relative;
    top: -3px;
    font-size: 50%;
    color: rgba(0, 0, 0, 0.5);

    &:before {
      content: '◄';
    }
  }

  &:hover .anchor-link, &:focus .anchor-link {
    display: inline;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}

.global-section__border span {
  height: 5px;
  float: left;
  margin-bottom: 20px;
}

.global-footer .global-section__border span {
  width: 20%;
}

#about {
  background-color: #FFDA74;
}

#about .lead a {
  color: black;
}

#activities {
  background-color: #6EAFFF;
}

#projects {
  background-color: #E85E65;
}

// #experiences {
//   background-color: #6EE86F; // #6C6DFF
// }
