/*==========  Header  ==========*/

.global-header {
  background-color: $colorGray6;
}

@media (min-width: 600px) and (max-width: 767px) {
  .col-custom-5 {
    width: 43%;
    float: left;
  }

  .col-custom-7 {
    width: 54%;
    float: right;
  }
}

.title-link {
  display: inline-block;
  width: 100%;
  color: $colorGray1;
  text-shadow: 0 1px 0 $colorGray3,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2);
}

.title-link:hover, .title-link:focus {
  color: $colorGray1;
  text-decoration: none;
}

h1 {
  font-size: 250%;
  font-weight: 400;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  width: 100%;
  margin: 0 -15px;
  user-select: none;
}

.nav li {
  max-width: 20%;
  float: left;
}

.nav li a {
  height: 62px;
  padding: 5px;
  font-size: 12px;
  color: $colorGray2;
  transition: all .2s ease-out;

  &:hover, &:focus {
    background-color: $colorGray2;
    transition: all .3s ease-out;
    outline: none;
  }

  &:active {
    transform: scale(0.9);
    transition: all .1s ease-out;
  }
}

.nav a span {
  display: block;
}

.nav [class^="icon-"], .nav [class*=" icon-"] {
  font-size: 32px;
  width: 32px;
  height: 32px;
  position: relative;
  left: 50%;
  margin-left: -16px;
  float: left;
}

.nav .twitter-link {
  background-color: #55acee;

  &:hover, &:focus {
    color: #55acee;
  }
}

.nav .github-link {
  background-color: #333;

  &:hover, &:focus {
    color: #333;
  }
}

.nav .blog-link {
  background-color: #263347;

  padding: 6px 16px;

  &:hover, &:focus {
    color: #263347;
  }
}

.nav .talks-link {
  background-color: #333;

  padding: 6px 15px;

  &:hover, &:focus {
    color: #333;
  }
}

.nav .viz-link {
  background-color: #4875B4;

  padding: 6px 20px;

  &:hover, &:focus {
    color: #4875B4;
  }
}
