/*==========  Header  ==========*/

.global-header {
  background-color: $colorGray6;
}

@media (min-width: 600px) and (max-width: 767px) {
  .col-custom-5 {
    float: left;
    width: 43%;
  }

  .col-custom-7 {
    float: right;
    width: 54%;
  }
}

.title-link {
  display: inline-block;
  width: 100%;
  color: $colorGray1;
  text-shadow: 0 1px 0 $colorGray3,
  0 6px 1px rgba(0,0,0,0.1),
  0 0 5px rgba(0,0,0,0.1),
  0 1px 3px rgba(0,0,0,0.3),
  0 3px 5px rgba(0,0,0,0.2);
}

.title-link:hover, .title-link:focus {
  color: $colorGray1;
  text-decoration: none;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-weight: 400;
  font-size: 250%;
}

.nav {
  margin: 0 -15px;
  width: 100%;

  user-select: none;
}

.nav li {
  float: left;
  max-width: 20%;
}

.nav li a {
  padding: 5px;
  height: 62px;
  color: $colorGray2;
  font-size: 12px;
  transition: all 0.2s ease-out;

  &:hover, &:focus {
    outline: none;
    background-color: $colorGray2;
    transition: all 0.3s ease-out;
  }

  &:active {
    transition: all 0.1s ease-out;
    transform: scale(0.9);
  }
}

.nav a span {
  display: block;
}

.nav [class^='icon-'], .nav [class*=' icon-'] {
  position: relative;
  left: 50%;
  float: left;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.nav .twitter-link {
  background-color: #55acee;

  &:hover, &:focus {
    color: #55acee;
  }
}

.nav .github-link {
  background-color: #333333;

  &:hover, &:focus {
    color: #333333;
  }
}

.nav .blog-link {
  padding: 6px 16px;
  background-color: #263347;

  &:hover, &:focus {
    color: #263347;
  }
}

.nav .talks-link {
  padding: 6px 15px;
  background-color: #333333;

  &:hover, &:focus {
    color: #333333;
  }
}

.nav .viz-link {
  padding: 6px 20px;
  background-color: #4875b4;

  &:hover, &:focus {
    color: #4875b4;
  }
}
