@font-face {
  font-family: 'icomoon-thibaudcolas-v2';
  src:url('../fonts/icomoon/icomoon-thibaudcolas-v2.eot');
  src:url('../fonts/icomoon/icomoon-thibaudcolas-v2.eot') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon-thibaudcolas-v2.woff') format('woff'),
    url('../fonts/icomoon/icomoon-thibaudcolas-v2.woff2') format('woff2'),
    url('../fonts/icomoon/icomoon-thibaudcolas-v2.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon-thibaudcolas-v2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon-thibaudcolas-v2';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e603";
}
.icon-bullhorn:before {
  content: "\e604";
}
.icon-envelope:before {
  content: "\e605";
}
.icon-laptop:before {
  content: "\e60b";
}
.icon-twitter:before {
  content: "\e600";
}
.icon-github:before {
  content: "\e601";
}
.icon-soundcloud:before {
  content: "\e606";
}
.icon-linkedin:before {
  content: "\e602";
}
.icon-file-pdf:before {
  content: "\e607";
}
.icon-file-xml:before {
  content: "\e608";
}
.icon-html5:before {
  content: "\e609";
}
.icon-css3:before {
  content: "\e60a";
}
