/*==========  VARIABLES  ==========*/

  // Defining colors
  $colorGray1: #f5f8fa !default;
  $colorGray2: #e1e8ed !default;
  $colorGray3: #ccd6dd !default;
  $colorGray4: #8899a6 !default;
  $colorGray5: #66757f !default;
  $colorGray6: #292f33 !default;

  $colorText: $colorGray6 !default;

  // Defining font family
  $fontDefault: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
  $fontHighlight: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif !default;

  // Defining animation easings
  $animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;
