<p>
  By <a href="{{ site.authorsite }}" rel="author">{{ site.author }}</a> -
  Content available as <a class="license" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> -
  <a class="fork-link" href="https://github.com/thibaudcolas/thib.me">View source</a>.
  About me: <a rel="me" href="https://x.com/{{ site.twitter_user }}">X</a>, <a rel="me" href="https://bsky.app/profile/thibaudcolas.bsky.social">Bluesky</a>, <a rel="me" href="https://fosstodon.org/@thibaudcolas">Mastodon</a>, <a rel="me" href="https://www.linkedin.com/in/{{ site.github_user }}/">LinkedIn</a>, <a rel="me" href="https://github.com/{{ site.github_user }}">GitHub</a>, <a href="/resume" data-no-instant>Resume</a>, <a href="/about/">About</a>
</p>
