<aside>
  <details>
    <summary class="load-comments"><strong>🗨️ Load comments</strong></summary>

    <script
      src="https://giscus.app/client.js"
      data-repo="thibaudcolas/thib.me"
      data-repo-id="MDEwOlJlcG9zaXRvcnk2Njk1OTkw"
      data-mapping="number"
      data-term="{{ page.comments_discussion }}"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    >
    </script>
  </details>
</aside>
