/*==========  Footer  ==========*/

.global-footer {
  background-color: #292f33;
  color: #eee;
}

.global-footer a {
  color: #ccc;
  text-decoration: underline;
}

.global-footer a:hover {
  color: #aaa;
}

.footer__border > span {
  width: 20%;
  height: 5px;
  background: none repeat scroll 0px 0px #FFF;
}

.footer__border .border-1 {
  background-color: #FF6347;
}
.footer__border .border-2 {
  background-color: #DC143C;
}
.footer__border .border-3 {
  background-color: #008080;
}
.footer__border .border-4 {
  background-color: #1E90FF;
}
.footer__border .border-5 {
  background-color: #000080;
}
