/*==========  Footer  ==========*/

.global-footer {
  background-color: #002f2f;
  color: #eee;
}

.global-footer a {
  color: #ccc;
  text-decoration: underline;
}

.global-footer a:hover {
  color: #aaa;
}
