@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Fira Sans";
  src: local("Fira Sans Regular"), local("Fira Sans"),
    url("/assets/fonts/firasans/FiraSans-Regular.woff") format("woff"),
    url("/assets/fonts/firasans/FiraSans-Regular.woff2") format("woff2");
}
