@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon-thibaudcolas-v2';
  src: url(data:application/octet-stream;base64,d09GRgABAAAAAAyEAAsAAAAADDgAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgCGL8v2NtYXAAAAFoAAAAVAAAAFTmROaOZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAB/wAAAf8SlRFyWhlYWQAAAnAAAAANgAAADYC0t3/aGhlYQAACfgAAAAkAAAAJAPiAe5obXR4AAAKHAAAADQAAAA0EwAAPmxvY2EAAApQAAAAHAAAABwKcAyObWF4cAAACmwAAAAgAAAAIAAVAKZuYW1lAAAKjAAAAdUAAAHVdhlW5XBvc3QAAAxkAAAAIAAAACAAAwAAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gkB4P/gACAB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABAAAAADAAIAAIABAABACDmBuYJ//3//wAAAAAAIOYA5gj//f//AAH/4xoEGgMAAwABAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAABACAAGwAEIAAAEOAQc+ATcOAQcuASMiBhUUFhcuAScOARUUFhciJicUMBUUFhcOASMiJiceATMOASMqASceATMyNjc+ATU8ATU+ATcCAA4eEBAYBg8iEg4oFys+AgFBcCcHCBoVDRgKMCQHDgcFCgUKNiMbQyUGDQYjUixIcCYmJw8aCwF/BgkCCh4SCQ0DDxI9LAYMBgM7MAwbDhsuDgcGAQEmOQgBAgEBICkVGAEWGTYrK2s0AwcDDBsQAAAAAAIAAP/gAgAB4AAYAKMAAAEiBgcOARUUFhceATMyNjc+ATU0JicuASMTDgEHDgEHNTQmJz4BNz4BNz4BNz4BNz4BNz4BNz4BNTQmJzYmLwEmBgcOAQcuASMiBgcuAScuAScuASMqASMqATEOARcOARUUFhceARceARceARceARceARceATMOAR0BLgEnLgEnLgEnLgE1NDY3PgE3PgE3PgEzMhYXHgEXHgEXHgEVFAYHDgEHAQA1XSMjKCgjI101NV0jIygoIyNdNZgPIhMFCgULCgcMBQUMBgYLBQUJBAUHAwMFAgECDQwGAgcGAwwICRMKDx8QEB8OBw0GBQoEAwcDAwQBAQEHAQUMDQICAQUDAwgEBAoEBQsGBgwFBgwGCgoGCwYTIg8PFwgJCAgJCBcPDyITFCoWFioUEyIPDxcICQgICQgXDwHgKCMjXTU1XSMjKCgjI101NV0jIyj+aA8XCAIEASYPFgcBAgEBAwIDBQMDBwUFCgYGDgkIEgoUIQ0PIREBAQMDAwsHBAQEBAUHAwMEAQECEiEPDSEUChIICQ4GBgoFBQcDAwUCAwMBAQIHFw8nAgQCCBcPDyITFCoWFioUEyIPDxcICQgICQgXDw8iExQqFhYqFBMiDwAAAAQAAP/gAgAB4AAQABUAIgA3AAABISIGFREUFjMhMjY1ETQmIwMjNTMVAyImNTQ2MzIWFRQGIwEjNTQmIyIGHQEjNTMVPgEzMhYdAQGq/qwjMzMjAVQjMzMj6kBAIA0TEw0NExMNAQBAEw0NE0BACh0RHioB4DMj/qwjMzMjAVQjM/5g4OABABMNDRMTDQ0T/wCADRMTDYDgKA4aLyGQAAAHAAAAIAIAAaAADAARABUAGQAdACEAJQAAATUhERQWMyEyNjURIwMhESERASEVIRczFSMVMxUjFTMVIyczFSMBwP5AEw0BsBQcQCD+gAGA/qABQP7AwICAgIBgYMCgoAFgQP6gDRMcFAEQ/uABQP7AAQAgICAgICAgoKAABQAAAAECAAHAACYASwBhAGwAkQAAATQmJy4BIzAyMSMwBgcOAQcOARUUFhceARceATEzMCIxMjY3PgE1ByImJy4BJy4BNTQ2Nz4BNz4BMzIWFx4BFx4BFRQGBw4BBw4BIyU0NjcOASMqATEHFRcwMjMyFhcuATUXJxceAT8BPgEvATciJjUuAScuATU0Njc+ATc0NjMyFhceARceARUUBgcOAQcOASMCAAoJCRgOASojHx9YNAQDAwQ0WB8fIyoBDhgJCQpQAwcCBQkECAoKCAQJBQIHAwQHAgUIBAkJCQkECAUCBwT+zgMCESEUGQgcHAgZFCERAgM6QCkCCgY8BgQDPvgBAwIEAQMEBAMBBAIDAQICAQIDAgMEBAMCAwIBAgIBCSZCGRkdGBARIgsRKBgXKBELIxAQGB0ZGEMlmwYCBREKFzshITwXChAGAgUFAgYQChc8ISE7FwoRBQIGmxQlEgMCMCwvAwIRJhNqDKEGBQIYAgwFcy8CAQIGBAkXDA0XCQQGAgECAgECBgQJFw0MFwkEBgIBAgAAAAUAAAAAAgABoAAQABQAGAAeACIAAAEhIgYVERQWMyEyNjURNCYjBQc1FychBycfATcXITc/ARUnAdD+YBQcHBQBoBQcHBT+94eHbwFQqKh1MzNq/sZqbIeHAaAcFP7AFBwcFAFAFBzTavuRk35+mTc3h4cGkftqAAIAAP/gAgAB4AAFAE4AADchFSERMxMiJjU0NjM6ATM3LgE1NDYzMhYVFAYHFzoBMzoBMzcuATU0NjMyFhUUBiMqASMHHgEVFAYjIiY1NDY3JyoBIyoBIwceARUUBiNAAcD+AEBQFBwcFAECATQEBBwUFBwEBDQBAgEBAQFVBAQcFBQcHBQBAQFVBAQcFBQcBAQ0AQIBAQIBNAQEHBQgQAIA/mAcFBQcVgUOBxQcHBQHDgVWlQYNCBQcHBQUHJUGDQgUHBwUBw4FVlYFDgcUHAAFACD/4AHgAeAABQALACAAKgBAAAA3JwcXNycfATcnBxc3Jy4BKwEiBhURFBYzITI2NRE0JicHHgEXIzUeAR8BExQGIyEiJjURNDY7AToBFxUzFhQVEeAgYGAgQIAgYGAgQGRICygR8BAYFxEBcBAYEQsXAQMBUgICAkcTBQP+kAMFBQPwAgQCfwHAIGBgIEBAIGBgIED8SAsRFxH+UBAYFxEBMBApCxYCAgJSAQMBR/6iAwUFAwGwAwUBfwIEAv7QAAAAAgAe/+AB4gHgAAUAFwAAGwEXNxMhBSMXMw8BLwEzHwExPwEjJyEHHim5uSn+PAFq2AXOD3R0CDkEPz8GwxABGwUB4P4zMzMBzZc6rSAgWS0REUmrOQAAAAEAAAACAACXkQc0Xw889QALAgAAAAAA0NlOoQAAAADQ2U6hAAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAA0AAAAAAAAAAAAAAAABAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAACACAAAeAAAAAAAKABQAHgCAAXABwAH+AswDCANwA9ID/gABAAAADQCkAAcAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEALgAAAAEAAAAAAAIADgC3AAEAAAAAAAMALgBEAAEAAAAAAAQALgDFAAEAAAAAAAUAFgAuAAEAAAAAAAYAFwByAAEAAAAAAAoANADzAAMAAQQJAAEALgAAAAMAAQQJAAIADgC3AAMAAQQJAAMALgBEAAMAAQQJAAQALgDFAAMAAQQJAAUAFgAuAAMAAQQJAAYALgCJAAMAAQQJAAoANADzAGkAYwBvAG0AbwBvAG4ALQB0AGgAaQBiAGEAdQBkAGMAbwBsAGEAcwAtAHYAMgBWAGUAcgBzAGkAbwBuACAAMgAuADAAaQBjAG8AbQBvAG8AbgAtAHQAaABpAGIAYQB1AGQAYwBvAGwAYQBzAC0AdgAyaWNvbW9vbi10aGliYXVkY29sYXMtdjIAaQBjAG8AbQBvAG8AbgAtAHQAaABpAGIAYQB1AGQAYwBvAGwAYQBzAC0AdgAyAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgAtAHQAaABpAGIAYQB1AGQAYwBvAGwAYQBzAC0AdgAyAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff');
}

[class^='icon-'], [class*=' icon-'] {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon-thibaudcolas-v2';
  line-height: 1;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: '\e603';
}

.icon-bullhorn:before {
  content: '\e604';
}

.icon-envelope:before {
  content: '\e605';
}

.icon-stats:before {
  content: '\e606';
}

.icon-twitter:before {
  content: '\e600';
}

.icon-github:before {
  content: '\e601';
}

.icon-linkedin:before {
  content: '\e602';
}

.icon-file-xml:before {
  content: '\e608';
}

.icon-html5:before {
  content: '\e609';
}
