<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.talks_title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.talks_description }}{% endif %}">

    <meta name="author" content="Thibaud Colas">
    <link rel="author" href="https://plus.google.com/+ThibaudColas">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico"/>


    <!-- Add to homescreen for Safari on iOS -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/apple-touch-icon-152x152.png">

    <!-- Add to homescreen for Chrome on Android -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-32x32.png" sizes="32x32">

    <meta name="author" content="Thibaud Colas">

    <link rel="stylesheet" href="{{ '/assets/talks.css' | prepend: site.baseurl }}">

    {% include google_analytics.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage" role="document">

<header role="banner">
    <hgroup>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    </hgroup>
</header>

<nav role="navigation">
    <ul class="main-navigation">
        {{ content }}
    </ul>
</nav>

<footer role="contentinfo">
    <p>
        By <a href="https://thib.me" rel="author">Thibaud Colas</a>.
        Content available under <a class="license" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.
        <span class="credit">Hosted on <a href="http://pages.github.com/">GitHub Pages</a>.</span>
    </p>
</footer>
</body>
</html>
