---
layout: default
---

<div>
<article>
  {% if page.title %}
  <header>
    <a class="edit-link" aria-label="Edit this page on GitHub" href="{{ site.repository }}/edit/{{ site.branch }}/{{ site.source }}/{{ page.path }}">Edit</a>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% if page.date or page.author %}<p class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% if page.comments and page.comments_discussion %}
{% include custom/giscus.html %}
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% include asides/recent_posts.html %}
  {% include asides/github.html %}
</aside>
{% endunless %}
