<nav class="sidebar-section" aria-labelledby="find_me_on_heading">
  <h2 id="find_me_on_heading">About me</h2>
  <ul id="recent_posts">
    <li><a href="https://x.com/{{ site.twitter_user }}">Twitter</a>, <a href="https://bsky.app/profile/thibaudcolas.bsky.social">Bluesky</a>, <a href="https://fosstodon.org/@thibaudcolas">Mastodon</a>, <a href="https://www.linkedin.com/in/{{ site.github_user }}/">LinkedIn</a></li>
    <li><a href="https://github.com/{{ site.github_user }}">GitHub</a>, <a href="/resume" data-no-instant>Resume</a>, <a href="/about/">About</a></li>
  </ul>
</nav>
