{% if site.github_user %}
<nav class="sidebar-section" aria-labelledby="gh_repos_heading">
  <h2 id="gh_repos_heading">Projects</h2>
  <ul id="gh_repos">
    {% for repository in site.data.repositories %}
      <li>
        <a href="{{ repository.url }}">{{ repository.name }}</a> –{%- if forloop.first -%} ⭐️{%- endif -%} {{ repository.stargazers_count }}
        <p>{{ repository.description }}</p>
      </li>
    {% endfor %}
  </ul>
  {% if site.github_show_profile_link %}
  <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on GitHub
  {% endif %}
</section>
{% endif %}
