body {
  font: 12px sans-serif;
  shape-rendering: crispEdges;
}

* {
    margin: 0;
    padding: 0;
}

.area {
  fill: steelblue;
    stroke-width: 0;
}

.area-reality {
  fill: crimson;
}

svg {
    background: azure;
}

.line {
  stroke: black;
  stroke-width: 2px;
}

p {
  margin-top: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#update {
  position: fixed;
  top: 50px;
  right: 30px;
}
