body {
  font: 12px sans-serif;
  shape-rendering: crispEdges;
}

* {
    margin: 0;
    padding: 0;
}

.area {
  fill: steelblue;
    stroke-width: 0;
}

svg {
    background: hsl(181, 100%, 94%);
}

.line {
  stroke: black;
  stroke-width: 2px;
}

p {
  margin-top: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}
