html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    font-family: Sans-Serif;
    margin: 20px auto;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: gray;
}

h1 a {
    text-decoration: none;
}

nav {
    margin: 10px;
}

ul {
    text-align: left;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
}

li {
    list-style-type: square;
    padding: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
