* {
  box-sizing: border-box;
}

html, body, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  font: 16px sans-serif;
}

#map-wrapper {
  padding: 10px;
}

#map {
  min-height: 90vh;
}
