{% capture category %}{% if post %}{{ post.categories | size }}{% else %}{{ page.categories | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<span class="categories">
  {% if post %}
    {% for category in post.categories %}
      <a class="category" href="/{{ site.category_dir }}/{{ category | downcase | url_encode }}/">{{ category }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  {% else %}
    {% for category in page.categories %}
      <a class="category" href="/{{ site.category_dir }}/{{ category | downcase | url_encode }}/">{{ category }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  {% endif %}
</span>
{% endunless %}
